* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.back-button, .home-button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px 10px;
}

.back-button:hover, .home-button:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.register-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(16, 23, 40);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.form-row {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.form-group {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.location-section {
  margin-bottom: 30px;
}

.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.open-map-btn {
  background: linear-gradient(to right, #ed05dd, #bb03dfe0);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease; /* Para suavizar el efecto hover */
}

.open-map-btn:hover {
  background: linear-gradient(to right, #43A047, #1B5E20);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Efecto de elevación al pasar el mouse */
}
.register-btn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, #9e43bf, #be116a);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.register-btn:hover {
  background: linear-gradient(to right, #1E88E5, #1565C0);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
