.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1624;
  color: white;
  height: 100vh;
  padding: 2rem;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1 {
  font-size: 3rem;
}
.btn-gradient {
  background: linear-gradient(90deg, #c850c0, #4158d0);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.image-content img {
  width: 250px;
  box-shadow: 0 0 50px #4158d0;
}
.subtitle {
  font-weight: bold;
  margin-top: 2rem;
}
